form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: darkolivegreen;
  padding: 0.5rem;
}

input {
  border-radius: 1rem;
  background-color: lightgreen;
  padding: 0.5rem;
}
